<!-- <span>
  <h6 *ngIf="isLoggedInerror" style="margin-left:15cm;color: red;">Invalid email/password</h6>
  <h6 *ngIf="isLoggedIn" class="btn btn-success" style="margin-left:15cm">Welcome to Eha</h6>
</span>


<div class="content-area">
  <div class="content-wrapper">

    <div class="content">


      <div class="row">
        <div class="col-lg-4 mx-auto" style="margin-top:120px;">
          <div class="card mb-4">
            <div class="card-body">
              <div class="login">
                <div class="form">
                  <h3 class="h4 mb-5 text-center">Eha Admin Login</h3>
                  <form #form="ngForm" (ngSubmit)="post(form.value)">
                    <div class="form-group">
                      <label for="">email</label>
                      <input type="email" name="email" class="form-control" placeholder="enter email" ngModel required>
                    </div>

                    <div class="form-group">
                      <label for="">password</label>
                      <input id="password" appPasswordvalidate type="password" placeholder="enter password"
                        name="password" #password="ngModel" class="form-control" ngModel required>
                    </div>

                    <button class="btn mt-4 btn-primary btn-lg btn-block" [disabled]="form.invalid">Login</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="wrapper">





  </section> -->


<div class='container'>
  <form  ngForm #frm = 'ngForm' (ngSubmit) = 'login(frm.value)'>
    <!-- username -->
    <div class='username'>
      <label for="username"> Username </label>
      <input ngModel type="text" name="username">
    </div>
    <!-- password -->
    <div class='password'>
      <label for="password"> password </label>
      <input ngModel type="password" name="password">
    </div>
    <!-- remember credentials -->
    <div class='remember'>
      <label for="remember"> Rember me</label>
      <input ngModel type="checkbox" name="remember">
    </div>
    <!-- submit login -->
    <div class='login'>
      <label for="login">Login </label>
      <input type="submit" value='Login'>
    </div>

  </form>
</div>
