<!--RIGHT CONTENT AREA-->
<app-header></app-header>
<div class="content-area">
    <div class="content-wrapper">
  
      <div class="row page-tilte align-items-center">
        <div class="col-md-auto">
          <h1 class="weight-300 h3 title">Categories</h1>
        </div>
      </div>
  
      <div class="content">
  
  
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4">
              <div class="card-header"></div>
              <div class="card-body table-responsive">
  
                <table id="products" class="table table-striped mb-4 bg-white table-bordered">
                  <thead>
                    <tr >
                      <th>Category Name</th>
                     
                      <th>Description</th>
                      
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let category of categorylist">
                      <td>{{category.categoryName}}</td>
                     
                      <td>{{category.description}}</td>
                      <td>
                        <a href="javascript:;" class="btn btn-primary btn-sm mr-2" (click)="editcategory(category)" routerLink="/updatecategory">
                          Edit
                        </a>
                        <a href="javascript:;" class="btn btn-danger btn-sm"(click)="delete(category.categoryId)">
                      Delete
                        </a>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
                <a routerLink="/addcategory" style="margin-left:10cm">Add Category</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>