<app-header></app-header>

 <div class="form-group" style="margin-left: 10cm">
                                                          <label class="font-weight-bold">Upload Products</label>
                                
                                                          <div class="input-group mb-3" style="width: 15cm">
                                                              <div class="custom-file">
                                                                <span> <input readonly> <input name="file"  type="file" placeholder="Browse" #inp accept=".xlsx"></span>
                                                              </div>
                                                            </div>
                                                            <button  class="btn btn-primary btn-sm" (click)="fileEvent(inp)"><i class="fa fa-plus mr-2"></i>Add product</button>
                                                            <a  href="https://ehaenterprise.herokuapp.com/v1/excel/template" >Download Template</a>
                                                        </div>

                                                        <!-- label -->

<!-- 
<div class="form-group" style="margin-left: 10cm">
    <h1>Bulk ProductUpload</h1>
    
      <span><input name="file"  type="file" id="fileUpload" #inp accept=".xlsx"></span>
<button (click)="fileEvent(inp)">UploadProduct</button>
<div><a type="button" href="http://localhost:8080/v1/excel/template">Download Template</a></div>

    </div> -->

   